*, *::before, *::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
    --text-color: #202020;
}
h1, h2, h3, h4, h5, h6, p, a {
    color: var(--text-color);
    font-family: Nunito, sans-serif;
}
/*Styling for body. Display flex used to ensure footer stays at the bottom*/
body {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f5;
    padding: 0 2em;
}

/*Styling for navbar*/
.nav-bar ul {
    display: flex;
    list-style: none;
}
.nav-bar a {
   text-decoration: none;
   color: var(--text-color);
   transition: all 0.3s;
}
.nav-bar a:hover {
    color: #4d30ab;
}


